/* Bordes de input válidos o inválidos */
.correcto {
    border: 2px solid green !important;
}
.incorrecto {
    border: 2px solid red !important;
}

/* Tarjetas de libros */
.card-libro {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.card-libro:hover {
    transform: scale(1.02);
    cursor: pointer;
}

/* Botón leído/no leído */
.btn-leido {
    margin-top: 10px;
}